<div class="container species">
  <h1>Sightings</h1>


<form action="/sightings" method="post">
  <label for name="species_id">Species:</label><br>
  <%= select_tag(:species_id, options_for_select([
     ['Brown Bear', 1], ['Red Panda Fox', 2],
     ['Bald Eagle', 11], ['River Otter', 12],
     ['Wolverine', 3], ['Salmon', 13]])) %><br>
  <label for name="location">Location:</label><br>
  <input id="date" class="form-control" type="date" name="date">
  <button class="btn btn-default">Add a Sighting</button>
</form>

<ul><% @sightings.each do |sighting| %>
  <li><a href="/sightings/<%= sighting.id %>"><%= sighting.location %></a></li>
<% end %>
</ul>

</div>

