<h3>Sighting Added</h3>

<p><%= @sighting.name.capitalize %> was added to your database!</p>

<p><a href="/species">Return to species index.</a></p>
<p><a href="/sightings">Return to sightings index.</a></p>
