<h1>Species</h1>


<form action="species" method="post">
  <input id="species_name" class="form-control" type="text" name="name">
  <button>Add a Species</button>
</form>

<ul><% @species.each do |species| %>
  <li><%= species.name %></li>
<% end %>
</ul>
