<h1> The Majestic <%= @species.name %></h1>
<p><a href="/sightings">View sightings</a></p>

<p><a href="/species/<%= @species.id %>/edit">Edit.</a></p>
<p><a href="/species/<%= @species.id %>"
    data-confirm="Are you sure?"
    data-method="delete"
    rel="nofollow">Delete.</a></p>

<a href='/species'>Return to species index</a>

