<div id="footer" class="nav navbar-fixed-bottom">
  <div class="container">
    <ul>
      <li>contact us</li>
      <li>get involved</li>
      <li>prevent forest fires</li>
    </ul>
  </div>
</div>
